<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/homePage.css">
  </head>
  <body>
      <h1>Welcome</h1>
      <div class = "button-container">
        <a href = "/sign-up">Sign up</a>
        <a href = "/log-in">Log in</a>
      </div>
  </body>
</html>
