<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <div>
        <h1>Welcome</h1>
        <a href = "https:/localhost3000/sign-up">Sign up</a>
        <a href = "https:/localhost3000/log-in">Log in</a>
    </div>
  </body>
</html>
