<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/homePage.css">
  </head>
  <body>
    <h1>Home</h1>

    <% if (user) { %>
      <p>Logged in as: <%= user %></p>
      <% if (isAdmin) { %>
        <div class = button-container>
          <a href = "/message-board">View Message Board</a>
          <form id="logout-form" action="/log-out" method="POST">
            <button type="submit">Log out</button>
          </form>
        </div>
      <% } else if (isMember) { %>
        <div class = button-container>
          <a href = "/message-board">View Message Board</a>
          <a href = "/admin">Sign in as admin</a>
          <form id="logout-form" action="/log-out" method="POST">
            <button type="submit">Log out</button>
          </form>
        </div>
      <% } else { %>
        <div class = button-container>
          <a href = "/message-board">View Message Board</a>
          <a href = "/become-member">Join the club</a>
          <form id="logout-form" action="/log-out" method="POST">
            <button type="submit">Log out</button>
          </form>
        </div>
      <% } %>

    <% } else { %>
      <div class = "button-container">
        <a href = "/sign-up">Sign up</a>
        <a href = "/log-in">Log in</a>
        <a href = "/message-board">View Message Board</a>
      </div> 
    <% } %> 

  </body>
</html>
