<html>
  <head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/loginPage.css">
  </head>
  <body>
    <nav>
      <div id = "navbar-container">
        <a href = "/">Home</a>
        <form id="logout-form" action="/log-out" method="POST" id = "logout-form">
          <button type="submit">Log out</button>
        </form>
      </div>
    </nav>
    <div id = "main-container">
        <h1>Log In</h1>
        <form action = "log-in" method = "POST">
            <label for = "username"> Username: </label>
            <input type = "text" id = "username" name = "username">
            <label for = "password"> Password: </label>
            <input type = "password" id = "password" name = "password">
            <label for = "secretcode">Secret Code: </label>
            <input type = "text" id = "secretcode" name = "secretcode">
            <input type = "submit" value = "Submit">
        </form>
    </div>
  </body>
</html>
