<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <div>
        <h1>Log In</h1>
        <form action = "log-in" method = "POST">
            <label for = "username"> Username: </label>
            <input type = "text" id = "username" name = "username">
            <label for = "password"> Password: </label>
            <input type = "password" id = "password" name = "password">
            <label for = "secretcode">Secret Code: </label>
            <input type = "text" id = "secretcode" name = "secretcode">
            <input type = "submit" value = "Submit">
        </form>
    </div>
  </body>
</html>
