/* tag selectors */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5E6D3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: blue;
}


a:hover {
    font-weight: bold;
    color: #1e05f8; /* Example color to "light up" the link */
}



/* class selectors */


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}



/* id selectors */


#logout-form {
    all: unset; /*resets form to its natural default settings before restyling - ensures that this form doesn't take on the form styles applied above*/
    display: inline;
    display: flex;
    align-items: center;
}

#logout-form button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

#logout-form button:hover {
    font-weight: bold;
    color: #1e05f8;
}
